RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-f
Options -Indexes
#RewriteCond %{HTTPS} off
#RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

ReWriteRule ^$ home.php [NC,L]

ReWriteRule ^signup([/]?)$ signup.php [NC,L]