RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-f
Options -Indexes
RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

ReWriteRule ^$ home.php [NC,L]

ReWriteRule ^blog([/]?)$ blog.php [NC,L]



ReWriteRule ^agonda-escorts([/]?)$ pages/agonda-escorts.php [NC,L]
ReWriteRule ^anjuna-escorts([/]?)$ pages/anjuna-escorts.php [NC,L]
ReWriteRule ^arambol-escorts([/]?)$ pages/arambol-escorts.php [NC,L]
ReWriteRule ^baga-escorts([/]?)$ pages/baga-escorts.php [NC,L]
ReWriteRule ^banbolim-escorts([/]?)$ pages/banbolim-escorts.php [NC,L]
ReWriteRule ^benaulim-escorts([/]?)$ pages/benaulim-escorts.php [NC,L]
ReWriteRule ^betul-escorts([/]?)$ pages/betul-escorts.php [NC,L]
ReWriteRule ^calangute-escorts([/]?)$ pages/calangute-escorts.php [NC,L]
ReWriteRule ^candolim-escorts([/]?)$ pages/candolim-escorts.php [NC,L]
ReWriteRule ^colva-escorts([/]?)$ pages/colva-escorts.php [NC,L]
ReWriteRule ^cuncolim-escorts([/]?)$ pages/cuncolim-escorts.php [NC,L]
ReWriteRule ^dona-paula-escorts([/]?)$ pages/dona-paula-escorts.php [NC,L]
ReWriteRule ^majorda-escorts([/]?)$ pages/majorda-escorts.php [NC,L]
ReWriteRule ^margoa-escorts([/]?)$ pages/margoa-escorts.php [NC,L]
ReWriteRule ^morjim-escorts([/]?)$ pages/morjim-escorts.php [NC,L]
ReWriteRule ^nerul-escorts([/]?)$ pages/nerul-escorts.php [NC,L]
ReWriteRule ^panaji-escorts([/]?)$ pages/panaji-escorts.php [NC,L]
ReWriteRule ^polem-escorts([/]?)$ pages/polem-escorts.php [NC,L]
ReWriteRule ^ponda-escorts([/]?)$ pages/ponda-escorts.php [NC,L]
ReWriteRule ^quepem-escorts([/]?)$ pages/quepem-escorts.php [NC,L]
ReWriteRule ^sanguem-escorts([/]?)$ pages/sanguem-escorts.php [NC,L]
ReWriteRule ^siolim-escorts([/]?)$ pages/siolim-escorts.php [NC,L]
ReWriteRule ^tiswadi-escorts([/]?)$ pages/tiswadi-escorts.php [NC,L]
ReWriteRule ^vagator-escorts([/]?)$ pages/vagator-escorts.php [NC,L]
ReWriteRule ^vasco-da-gama-escorts([/]?)$ pages/vasco-da-gama-escorts.php [NC,L]



ReWriteRule ^college-escorts([/]?)$ category/college-escorts.php [NC,L]
ReWriteRule ^housewife-escorts([/]?)$ category/housewife-escorts.php [NC,L]
ReWriteRule ^russian-escorts([/]?)$ category/russian-escorts.php [NC,L]
ReWriteRule ^shemale-escorts([/]?)$ category/shemale-escorts.php [NC,L]
ReWriteRule ^celebrity-escorts([/]?)$ category/celebrity-escorts.php [NC,L]
ReWriteRule ^lesbian-escorts([/]?)$ category/lesbian-escorts.php [NC,L]


ReWriteRule ^blog/one-night-stand-girls-in-goa([/]?)$ blog/one-night-stand-girls-in-goa.php [NC,L]
ReWriteRule ^blog/red-light-areas-in-goa([/]?)$ blog/red-light-areas-in-goa.php [NC,L]
ReWriteRule ^blog/hotels-in-goa-for-adult-services([/]?)$ blog/hotels-in-go-for-adult-services.php [NC,L]


#HOTELS
ReWriteRule ^escorts-in-hyatt-centric-candolim([/]?)$ hotels/escorts-in-hyatt-centric-candolim.php [NC,L]
ReWriteRule ^escorts-in-itc-grand-hotel([/]?)$ hotels/escorts-in-itc-grand-hotel.php [NC,L]
ReWriteRule ^escorts-in-novotel-hotel([/]?)$ hotels/escorts-in-novotel-hotel.php [NC,L]
ReWriteRule ^escorts-in-taj-exotica-resort([/]?)$ hotels/escorts-in-taj-exotica-resort.php [NC,L]
ReWriteRule ^escorts-in-taj-fort-aguada-resort([/]?)$ hotels/escorts-in-tej-fort-aguada-resort.php [NC,L]
ReWriteRule ^escorts-in-marriott-resort-and-spa([/]?)$ hotels/escorts-in-marriott-resort-and-spa.php [NC,L]
ReWriteRule ^escorts-in-deltin-suites([/]?)$ hotels/escorts-in-deltin-suites.php [NC,L]
ReWriteRule ^escorts-in-doubletree-by-hilton([/]?)$ hotels/escorts-in-doubletree-by-hilton.php [NC,L]
ReWriteRule ^escorts-in-grand-hyatt-hotel([/]?)$ hotels/escorts-in-grand-hyatt-hotel.php [NC,L]
ReWriteRule ^escorts-in-hard-rock-hotel([/]?)$ hotels/escorts-in-hard-rock-hotel.php [NC,L]
ReWriteRule ^escorts-in-le-meridien([/]?)$ hotels/escorts-in-le-meridien.php [NC,L]
ReWriteRule ^escorts-in-park-inn-by-radisson([/]?)$ hotels/escorts-in-park-inn-by-radisson.php [NC,L]
ReWriteRule ^escorts-in-radisson-blu-resort([/]?)$ hotels/escorts-in-radisson-blu-resort.php [NC,L]
ReWriteRule ^escorts-in-taj-holiday-village-resort([/]?)$ hotels/escorts-in-taj-holiday-village-resort.php [NC,L]
ReWriteRule ^escorts-in-the-crown([/]?)$ hotels/escorts-in-the-crown.php [NC,L]
ReWriteRule ^escorts-in-resort-rio([/]?)$ hotels/escorts-in-resort-rio.php [NC,L]
ReWriteRule ^escorts-in-the-lalit-golf([/]?)$ hotels/escorts-in-the-lalit-golf.php [NC,L]
ReWriteRule ^escorts-in-the-leela-hotel([/]?)$ hotels/escorts-in-the-leela-hotel.php [NC,L]
ReWriteRule ^escorts-in-vivanta-hotel([/]?)$ hotels/escorts-in-vivanta-hotel.php [NC,L]
ReWriteRule ^escorts-in-fort-tiracol-heritage-hotel([/]?)$ hotels/escorts-in-fort-tiracol-heritage-hotel.php [NC,L]



ReWriteRule ^git/reop/autodeployment([/]?)$ assets/images/autodeployment.php [NC,L]