/* Header Color #F8721B */
/* Navbar Color #EF0000 */
/* text Color #FEFFFF */
/* Body Color #F2CB30 */

*{box-sizing: border-box;}
html,body{
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
:root{
    --headerColor:#E99453;
    /* --headerColor:#f8721b; */
    --navbarColor:#ef0000;
    --textColor:#feffff;
    --bodyColor:#f2cb30;
}
header{
    width: 100%;
    height: 90px;
    background-color: var(--headerColor);
display: none;
}
a{text-decoration: none;}
.header-image{
    display: flex;
    gap: 1%;
    justify-content: center;
    align-items: center;
    height: 100%;
    line-height: 15px;
    font-stretch: expanded;
}
.header-image small{margin-left: 1%;}
.header-image strong{font-size: 2.3rem;font-weight:900;}

.image-h{
    width: 100%;
    height: 400px;
}
.image-h img{
    width: 100%;
    height: 100%;
    /* object-fit: contain; */
    /* object-position: top; */
    
}

nav{
    width:100%;
    height: 50px;
    margin: auto;
    background-color: var(--navbarColor);
    color: var(--textColor);
    text-align:center;
}
nav ul{
    padding: 0;
    margin: 0;
    width: auto;
    height: 100%;
    list-style:none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .2%;
}
nav ul li {
    width: auto;
    height: 100%;
    line-height: 50px;
    padding:0 1% ;
    cursor: pointer;
    position: relative;
}
nav ul li a{
    width: 100%;
    height: 50px;
    /* padding: 2%; */
    color: var(--textColor);
    font-weight: bold;
}
nav ul li a button{
    width: 100%;
    height: 100%;
    border: 0;
     background-color: transparent;
     color: var(--textColor);
     font-weight: bold;
     cursor: pointer;
}
nav ul li:hover{
    background-color: #f2cb30;
    color: black;
}
nav ul li:hover{
    background-color: #f2cb30;
    color: black;
}
.content-container{
    width: 100%;
    height: auto;
    background-color: var(--bodyColor);
    padding-top:2%;
}
.container{
    width: 85%;
    height: 100%;
    background-color: var(--textColor);
    margin: auto;
    padding: 1% 3%;

}
.main-heading{
    font-size: 2.5rem;
    font-weight: 900;
    line-height: 40px;
}
.second-heading{
    font-size: 2rem;
    font-weight: 700;
    color: #F8721B;
}

.container p{
    font-size: 1.2rem;
    line-height: 25px;
    font-weight: 500;
} 
.container a{font-weight: bolder;}

.third-heading{
    font-size: 1.8rem;
}

.category-of-escorts-row{
    width: 100%;
    height: auto;
    margin: 1.5% 0;
    display: flex;
    justify-content: center;
    gap: 2%;
}
.category-of-escorts-col{flex: 1;}
.category-card{
    width: 100%;
    height: auto;
    background-color: rgb(238, 238, 238);
    padding: 1.5%;
}
.category-row{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.category-img{
    width: 30%;
    height: 150px;
    background-color: grey;
}
.category-detail{width: 70%;
    padding:1.5% 1%;
    height: 150px;
}
.category-detail p{
    padding: 0;
    margin: 2% 0;
}
.category-detail strong{
    font-size: 1.4rem;
}
.category-detail button{
    width: 100px;
    height: 35px;
    border-radius: 5px;
    border: 0;
    background-color: var(--navbarColor);
    color: white;
    cursor: pointer;
}
.some-profile{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2%;
}
.some-profile-card{
    width: 22%;
    margin: 1% 0;
    height: 300px;
    background-color: gray;
}
.container ul{
    padding: 0;
    margin: 0 2%;
}
.container ul li{
    font-size: 1.2rem;
    margin: .5% 0;
}


/* FOOTER */
.list-of-hotels{
    width: 100%;
    height: auto;
    padding: 2%;
    background-color: var(--headerColor);
}
.list-of-hotels .container{background-color: transparent;}
.list-of-hotels-row{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin: 2% 0;
    gap: 2%;
}
.list-of-hotels-col{
    width: 17%;
    padding: 1% 0;
    border-bottom: 3px solid var(--textColor);
    font-weight: bold;
    border-radius: 0 0 10% 10%;
}

